.baseground
  .baseground__upper
    .baseground__upper__list
      プライバシーポリシー
    .baseground__upper__list
      フリマ利用規約
    .baseground__upper__list
      特定商取引に関する表記

  .baseground__middle
    フリマのロゴをアイコンで入れます

  .baseground__lower
    © FreeMarket, Inc.




 

