.main__sell__footer
  .main__sell__footer__link
    = link_to "プライバシーポリシー",'#'
    = link_to "メルカリ利用規約",'#'
    = link_to "特定商取引に関する表記",'#'
  .main__sell__footer__logo
    = image_tag "logo-white.png", size: "193x49"
  %small © FURIMA, Inc.
 

