.baseground
  .baseground__upper
    .baseground__upper__policy
      .baseground__upper__policy__privacy
        プライバシーポリシー
      .baseground__upper__policy__mercari
        メルカリ利用規約
    .baseground__upper__deal
      特定商取引に関する表記

  .baseground__middle
    メルカリのロゴをアイコンで入れます

  .baseground__lower
    © Mercari, Inc.




 

