.top__download
  = image_tag 'bg-appBanner-pict.jpg' , height: '350px' , width: '100%' , class: 'image'
  .top__download__letter
    だれでもかんたん、人生を変えるフリマアプリ
  .top__download__letter1
    今すぐ無料ダウンロード！
    .top__downlad___letter2
      = image_submit_tag 'AppleStore-icon-438x129 (1).png' , height: '60px' , width: '200px' , class: 'apple'
      = image_submit_tag 'google-play-badge (2).png' , height: '85px' , width: '200px' , class: 'google'

