.page__right
    .page__right__imege1
    .page__right__box
      .page__right__box__notice1
        お知らせリスト
      .page__right__box__list1
        やる事リスト
    .page__right__mercari1
    .page__right__item
      .page__right__item__products1
        購入した商品
      .page__right__item__notice2
        .page__right__item__notice2__box1
          お知らせリスト
        .page__right__item__notice2__box2
          やる事リスト
      .page__right__item__mercari2
        メルカリ
