.footer
  =link_to 'プライバシーポリシー', '#', class: 'footer-link'
  =link_to 'メルカリ利用規約', '#', class: 'footer-link'
  =link_to '特定商取引に関する表記', '#', class: 'footer-link'
  .footer__logo
    = image_tag 'logo-white.png', size: '193x49'
  %small © FURIMA, Inc.