.top
  .top__header
    .top__header__a


  .top__main

  .top__introduction
    %top__introduction__top
      FURIMAが選ばれる3つの理由 



  .top__footer
    .top__footer__a
    .top__footer__b
    .top__footer__c

