.active{
  display: block;
}
.active2{
  display: block;
}
.active3{
  display: block;
}

// header{
//   width:100vw;
//   height: 100vh;
//   a{
//     color:black;
//     text-decoration: none;
//   }
// }
// .header{
//   width:80%;
//   height: 100px;
//   margin: 0 auto;
//   background-color:grey;
//   display: flex;
// }

//親カテゴリー
.parent-wrap{
  display: flex;
  width: 100%;
  height: 100px;
  .parent{
    width: 25%;
    height: 100px;
    font-size: 14px;
    line-height: 32px;
    
      &:hover{
      }
    
  }
}

//子カテゴリー
.child-wrap{
  display: block; //のちにdisplay:none；にします
  background-color:white;
  width:  auto;
  position: absolute;
  .child{
    width:279px;
    height: 70px;
    line-height: 70px;
    z-index: 10;
    position: relative;
    background-color: white;
    &:hover{
      background-color: gold;
    }
    span{
      font-size: 14px;
      padding:8px 16px;
      text-decoration: none;
      color:black;
    }
  }
}

//孫カテゴリー
.grand-child-wrap{
  display: block;
  width: 10px;
  position: absolute;
  top:0;
  left:279px;
  bottom:0;
  background: #fff;

  .grand-child{
    width:279px;
    height: 70px;
    line-height: 70px;
    &:hover{
      background-color: red;
    }

  }
}

//ひ孫カテゴリー
.grand-child-child-wrap{
  display: block;
  width: 10px;
  position: absolute;
  top:0;
  left:279px;
  bottom:0;
  background: #fff;

  .grand-child-child{
    width:279px;
    height: 70px;
    line-height: 70px;
    &:hover{
      background-color: red;
    }

  }
}