*{
  text-decoration: none;
}

.top{

  &__header{              
    width: 80%;                
    height: 90px;   
    background-color: #fff;
    margin: 20px 10px 10px 10px;
    padding: 0px 120px 0px 120px;
    &__a{
      display: flex;
      position: relative;
    }
    &__b{
      display: flex;
      justify-content: space-between;
      padding: 10px;
      
    }
  }
  &__main {
    position: relative;

    &__content{
      position: absolute; 
      top:200px;
      left:40px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
     
    }
    &__text{
      position: absolute; 
      top:270px;
      left:40px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
    
    }
  }
  
  &__introduction{
    height: 520px;
    padding: 60px 20px 60px 20px;
    
    &__title{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      

    }
    &__main{
      display: flex;
      margin: 0 110px;
      
      
      &__left{
        position: relative;
        
        &__box1{
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: #3CCACE;
          color: #fff;
          font-size: 30px;
          text-align: center;
          padding: 10px 20px;
        }
        &__text1{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          padding: 20px 55px;
        }
       
        
      }
      &__center{
        margin: 0 56px;
        position: relative;
        
        &__box2{
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: #3CCACE;
          color: #fff;
          font-size: 30px;
          text-align: center;
          padding: 10px 20px;
        }
        &__text2{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          padding: 20px 30px;
        }
      }
      &__right{
        position: relative;
        &__box3{
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: #3CCACE;
          color: #fff;
          font-size: 30px;
          text-align: center;
          padding: 10px 20px;
        }
      &__text3{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        padding: 20px 60px;
        }
      }
      span{
        color: #3cc1ce;
    
      }
      .dr{
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
      }
    }
  }

  
  &__image{
    position: relative;
        
    &__text2{
      position: absolute; 
      top:100px;
      left:90px;
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
      color: white;

    }
    &__text3{
      position: absolute; 
      top:140px;
      left:90px;
      font-size: 18px;
      margin: 20px 0 30px;
      line-height: 1.5;
      color: white;
    }
    
  }

  &__fulima{
    background-color: #FFF;
    height: 620px;
    width: auto;
    padding: 60px 100px 60px 100px;
    
    &__title{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__main{
      display: flex;
      padding: 0px 70px;
      &__left{
        width: 315px;
        height: 530px;
        text-align: center;
        &__icon1{
          
        }
        &__title1{
          text-align: center;
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
          }
        &__text1{
          margin: 0 0 40px;
          font-size: 16px;
          font-weight: 200;
          text-align: left;
        }
      }
      &__center{
        width: 315px;
        height: 530px;
        text-align: center;
        &__icon2{
        }
        &__title2{
          text-align: center;
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
          }
        &__text2{
          margin: 0 0 40px;
          font-size: 16px;
          font-weight: 200;
          text-align: left;
        }
      }
      &__right{
        width: 315px;
        height: 530px;
        text-align: center;
        &__icon3{
        }
        &__title3{
          text-align: center;
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
      }
    }
  }

  &__category{
    height: 400px;
    width: 100%;
    background-color: #f8f8f8;
    padding: 80px 0 ;
    &__title{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__title2{
      text-align: center;
      line-height: 1.4;
      font-weight: bold;
    }
    &__image{
      display: flex;
      justify-content: space-between;
      margin: 25px 260px;
    
      &__left{
        background-color: #fff;
        
     
        &__txst1{
          *{
            color: black;
          }
        
          &__test1{
            height: 70px;
            width: 200px;
            padding: 10px;
            &__center1{
              display: flex;
              padding: 5px 0 0 0;
              &__hosi{
                padding: 0 0 0 130px;
              }
            }
          }
        }
      }
    }
  }

  &__brand{
    height: 400px;
    width: auto;
    background-color: #f8f8f8;
    padding: 80px 0;
    &__title{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__title2{
      text-align: center;
      line-height: 1.4;
      font-weight: bold;
    }
    &__image{
      display: flex;
      justify-content: space-between;
      margin: 25px 260px;
    }
  }

  .top__category__title2 > a{
    font-weight: bold;
    color: #3CCACE;
    font-size: 24px;
    text-decoration: none;
    
  }
  
  .top__brand__title2 > a{
    font-weight: bold;
    color: #3CCACE;
    font-size: 24px;
    text-decoration: none;
  
    
  }
  &__download{
    position: relative;
    &__letter{
      position: absolute;
      top: 100px;
      left: 350px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      color: white;
    }
    &__letter1{
      position: absolute;
      top: 150px;
      left: 400px;
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      color: white;
    }
  }
  &__footer{                                
    width: auto;               
    height: 240px;  
    background-color: #272727;
    padding: 60px 0;
    &__description{
      margin: 0 220px;
      height: 175px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-align:center;
      display: flex;
      
      
      &__left{
        height: 175px;
        width: 34%;
        &__a{
          font-size: 12px;
          margin: 8px 0 0 0;
          
        }
       
      }
      &__senta{
        height: 175px;
        width: 33%;
       
      }
      &__right{
        height: 175px;
        width: 33%;
      }
    }
  }
  &__footer__bottom__a{
    text-align: center;
    p{
      color: white;
    }
  }
 
}

.top__footer__description__left__a > a{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 32px;
}
.top__header__b__1 > a{
  color: #333;
  text-decoration: none;
  line-height: 32px;
  font-size: 14px;
  background-position: center right;
  background-size: 18px;
  padding-right: 30px;


}
.top__header__b__2 > a{
  color: #333;
  text-decoration: none;
  line-height: 32px;
  font-size: 14px;
  background-position: center right;
  background-size: 18px;
  padding-right: 30px;

}
.serch1{
  margin: 2px 0 0 30px;
  width: 800px;
  height: 30px;
  
}

.logoo{
  background-color: #3cc1ce;
  position: absolute;
  background-size: cover;
  padding: 8px;
}
.logooo{
  padding-left: 30px;
}

.fixed_btn{
  position: fixed;
  bottom: 20px; 
  right: 20px;
  width: 130px;
  height: 130px;
  background-color: #3cc1ce;
  z-index: 1;
  border-radius: 50%;
}

.top-text{
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin: 10px 10px 10px 25px;
}

.makoto {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.makoto::after {
  position: absolute;
  content: '';
  top: 21px;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: white;
  transition: all 0s ease 0s;
}

.makoto:hover {
  cursor: pointer;
}
.makoto:hover::after {
  width: 100%;
}

.apple{
  margin-bottom: 12px;
}

