%header
  .header
    %ul.parent-wrap
      %li.parent
        %h3
          =link_to '/' do
            %spna リスト１
        %ul.child-wrap
          %li.child
            =link_to '/' do
              %span 1-1
            %ul.grand-child-wrap
              %li.grand-child
                =link_to '/' do
                  %span 1-1-1
              %li.grand-child
                =link_to '/' do
                  %span 1-1-2
              %li.grand-child
                =link_to '/' do
                  %span 1-1-3