.btns {
  &__actions {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 80%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    margin: 0 10%;

  }
  
}