.field-base {
  width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    overflow: scroll;
}
  .main { 
    max-width: 343px;
    margin: 0 auto;

    h2 {
      font-size: 22px;
      padding: 32px;
    }
    
    &__field {
      max-width: 343px;
      margin: 0 auto;
      h3 {
        font-size: 16px;
        text-align: left;
      }
      &__text {
        font-size: 12px;
        text-align: left;
      }
    }
    
    &__fields {
      max-width: 343px;
      margin: 0 auto;
      text-align: center;
      background-color: white;
      &__name {
        padding: 8px 0;
        display: flex;
        justify-content: space-between;
        &__tag1 {
          height: 36px;
          width: calc(50% - 10px);
          margin-right: 8px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          margin: 8px 8px 8px 0;
        }
        &__tag2 {
          height: 36px;
          width: calc(50% - 10px);
          margin-right: 8px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          margin: 8px 0;
        }
      }
      &__element {
        margin: 24px 0 0;
        &__title {
          display: flex;
          justify-content: flex-start;
          &__label {
            font-weight: 600;
          }
          &__notice {
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          &__selective {
            background: blue;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
        }
        
        &__text {
          height: 36px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 100%;
          margin: 8px 0 8px;
        }
      }
    }
    &__explanation {
      max-width: 343px;
      margin: 0 auto;
      background-color: white;
    
      &__personal {
        color: #0099e8;
        text-decoration: none;
        text-align: right;
        max-width: 343px;
        margin: 0 auto;
        padding: 8px 0;
      }
      &__detail {
        padding: 8px 16px;
        max-width: 343px;   
        font-size: 10px;  
      }
      &__site {
        background-color: #f5f5f5;
        padding: 8px 16px;
        max-width: 343px; 
        margin: 0 auto;   
        font-size: 10px;

      }
      &__action {
        max-width: 343px;
        margin: 0 auto;
        text-align: center;
        padding: 10px 0;
      }
    }
    
  }





