.baseground {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  background: #f5f5f5;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  &__upper {
    display: flex;
    justify-content: space-around;
    color: #333;
    flex: 1;

    &__list {
      font-size: 10px;
    }
  }
  &__middle {
    flex: 2;

  }
  &__lower {
    font-size: 10px;
    flex: 1;

  }
}
  

  

