.main {
  width: 100vw;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  &__sell {
    border-style: solid;
    border-width: 0;
    &__footer {
      text-align: center;
      padding-bottom: 40px;
      &__link {
        padding: 40px;
        a {
          text-decoration: none;
          touch-action: manipulation;
          font-size: 12px;
          color: black;
          padding-left: 7px;
        }
      }
      small {
        font-size: 10px;
      }
    }

      }
    }
  

